{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1 style='text-align: center;'>CR Price</h1>
    <table>
        <tr>
            <th>Price</th>
            <th>Principle</th>
            <th>Actions</th>
            <th>Date</th>
            <th>value</th>
            <th>% coin increase</th>
            <th>total % increase</th>
            <th>years to break even</th>
        </tr>
        {% for value in values %}
            <tr>
                <td>{{ value[0].price }}</td>
                <td>{{ value[0].currency }}</td>
                <td>
                    <a href="/delete/{{value[0].id}}">Delete</a>
                    <br>
                    <a href="/update/{{value[0].id}}">Update</a>
                </td>
                <td>{{ value[0].date_created }}</td>
                <td>{{ (value[0].price * value[0].currency)|round(2, 'floor') }}</td>
                <td>{{value[1]|round(2, 'floor')}}</td>
                <td>{{value[2]|round(2, 'floor')}}</td>
                <td>{{value[3]|round(2, 'floor')}}</td>
        {% endfor %}
            </tr>
    </table>
    <form action="/" method="POST">
        <p>price</p><input type="text" name="add_price" id="add_price">
        <p>coins</p><input type="text" name="add_coins" id="add_coins">
        <input type="submit" value="Add Values">
    </form>
</div>
{% endblock %}
