{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1 style='text-align: center;'>CR Price</h1>
    <table>
        <tr>
            <th>Price</th>
            <th>Principle</th>
            <th>Actions</th>
            <th>Date</th>
            <th>value</th>
            <th>percent coin anual increase</th>
            <th>fuck</th>
            <th>double fuck</th>
        </tr>
        {% for value in values %}
            <tr>
                <td>{{ value[0].price }}</td>
                <td>{{ value[0].currency }}</td>
                <td>
                    <a href="/delete/{{value.id}}">Delete</a>
                    <br>
                    <a href="/update/{{value.id}}">Update</a>
                </td>
                <td>{{ value[0].date_created }}</td>
                <td>{{ (value[0].price * value[0].currency)|round(2, 'floor') }}</td>
                <td>{{value[1]}}</td>
                <td>{{value[0].currency - original_value}}</td>
                <td>{{(value[0].date_created - original_time).seconds + (value[0].date_created - original_time).days*(24*60*60)}}</td>
        {% endfor %}
            </tr>
    </table>
    <form action="/" method="POST">
        <p>price</p><input type="text" name="add_price" id="add_price">
        <p>coins</p><input type="text" name="add_coins" id="add_coins">
        <input type="submit" value="Add Values">
    </form>
</div>
{% endblock %}
